

<div class="container" style="text-align: center">
  <table class="table table-responsive table-bordered">
      <tr>
          <td colspan="8"><h2>View Users</h2></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td colspan="3">
        <input type="text" [(ngModel)]="firstname" class="form-control"  (keyup)='FirstNameSearch()'>
        </td>
        <td> Last Name</td>
        <td colspan="3">
          <input type="text" [(ngModel)]="lastname" class="form-control"  (keyup)='LastNameSearch()'>
        </td>
        <td> Employee ID</td>
        <td colspan="3">
          <input type="text" [(ngModel)]="employee_id" class="form-control"  (keyup)='EmployeeIDSearch()'>
        </td>
      </tr>      
    </table>

<table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive table-hover outerborder" style="display: table;">
<thead class="thead-inverse|thead-default">
  <tr>
      <th>First Name <span class="btn btn-success" (click)='sortbyfname("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbyfname("desc")'>v</span> </th>
      <th>Last Name <span class="btn btn-success"  (click)='sortbylname("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success"  (click)='sortbylname("desc")' >v</span> </th>
      <th>Employee ID <span class="btn btn-success"  (click)='sortbyempid("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbyempid("desc")'>v</span> </th>      
      <th></th>
      <th></th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let obj of userdata" >
          <td scope="row">{{obj.firstname}}</td>
          <td>{{obj.lastname}}</td>
          <td>{{obj.employee_id}}</td>          
          
          <td> <button class="btn btn-success" id='Edit'  (click)="EditUser(obj)" >Edit</button> </td>
          <td> <button class="btn btn-success" id='Delete' >Delete</button> </td>
          <td></td>
      </tr>            
  </tbody>
</table>
<style>
  thead{
      background-color: lightblue;
  }
  </style>
</div>
