<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="helpercontext" connectionString="Data Source=LAPTOP-IC2J2LE7\SQL2014EXPRESS;User ID=sa;password=csadmin;Initial Catalog=TaskManager;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>