

<div class="container" style="text-align: center">
  <table class="table table-responsive table-bordered">
      <tr>
          <td colspan="8"><h2>View Projects</h2></td>
      </tr>
      <tr>
        <td>Project</td>
        <td colspan="3">
        <input type="text" [(ngModel)]="project" class="form-control"  (keyup)='ProjectSearch()'>
        </td>
        <td> Number of tasks</td>
        <td colspan="3">
          <input type="text" [(ngModel)]="numberoftasks" class="form-control"  (keyup)='ProjectSearch()'>
        </td>
      </tr>
      <tr>
          <td>Priority From</td>
          <td>
          <input type="text" [(ngModel)]="priorityfrom" class="form-control"  (keyup)='PriorityFromSearch()'>
          </td>
          <td> Priority To</td>
          <td>
            <input type="text" [(ngModel)]="priorityto" class="form-control"  (keyup)='PriorityToSearch()'>
          </td>
          <td>Start Date</td>
          <td>
          <input type="date" [(ngModel)]="startdate" class="form-control" onchange="StartDateSearch()"  (keyup)='StartDateSearch()'>
          <p style="font-size:11px" ><i>Press ENTER to search</i></p>
          </td>
          <td>End Date</td>
          <td>
          <input type="date" [(ngModel)]="enddate" class="form-control" onchange="EndDateSearch()"  (keyup)='EndDateSearch()'>
          <p style="font-size:11px" ><i>Press ENTER to search</i></p>
          </td>
        </tr>
    </table>


<table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive table-hover outerborder" style="display: table;">
<thead class="thead-inverse|thead-default">
  <tr>
      <th>Project<span class="btn btn-success" (click)='sortbyproject("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbyproject("desc")'>v</span></th>
      <th>Number of Tasks<span class="btn btn-success" (click)='sortbynooftasks("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbynooftasks("desc")'>v</span></th>
      <th>Priority<span class="btn btn-success" (click)='sortbypriority("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbypriority("desc")'>v</span></th>
      <th>Start<span class="btn btn-success" (click)='sortbystartdate("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbystartdate("desc")'>v</span></th>
      <th>End<span class="btn btn-success" (click)='sortbyenddate("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbyenddate("desc")'>v</span></th>
      <th>Completed<span class="btn btn-success" (click)='sortbycompleted("asc")' >^</span> <span style="margin-left:5px;" class="btn btn-success" (click)='sortbycompleted("desc")'>v</span></th>
      <th></th>
      <th></th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let obj of projectdata" >
          <td scope="row">{{obj.project}}</td>
          <td>{{obj.numberoftasks}}</td>
          <td>{{obj.priority}}</td>
          <td>{{obj.startdate|date:'MM/dd/yyyy'}}</td>
          <td>{{obj.enddate|date:'MM/dd/yyyy'}}</td>
          <td>{{obj.completed}}</td>
          
          <td> <button class="btn btn-success" id='Edit' (click)="EditProject(obj)" >Edit</button> </td>
          <td> <button class="btn btn-success" id='Suspend' >Suspend</button> </td>
          <td></td>
      </tr>            
  </tbody>
</table>
<style>
    .table td, .table th {
    padding: 0;
    }
    thead{
        background-color: lightblue;
    }
    </style>
</div>
